[user]
    name = Michael Contento
    email = michaelcontento@gmail.com
[alias]
    st = status -sb
    cma = commit -a -m
    cm = commit -m 
    log1 = log --oneline --decorate 
    unstage = reset HEAD --
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[branch]
    autosetupmerge = true
[core]
    autocrlf = false
[push]
	default = tracking
