[user]
    name = Michael Contento
    email = michaelcontento@gmail.com
[tig]
    show-refs = yes
    tab-size = 4
[alias]
    # basics
    st = status --short --branch
    co = checkout
    cog = "!f(){ git checkout $(git branch -r | grep $1 | cut -d'/' -f2-); }; f"
    br = branch
    brg = "!git branch --all --remote | grep"
    la = alias
    f = "!git ls-files | grep -i"
    ap = add --patch
    go = checkout -B

    # Show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a
    remotes = remote -v

    # log
    le = log --oneline --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls1 = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    lds = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lc  = "!f() { git ll "$1"^.."$1"; }; f"
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"

    # diff
    d = diff
    dc = diff --cached
    dl = "!git ll -1"
    dlc = diff --cached HEAD^
    dr  = "!git diffr"
    diffr  = "!f() { git diff "$1"^.."$1"; }; f"

    # commit
    ci = commit
    civ = commit --verbose
    cm = commit --message
    cma = commit --all --message
    ca = commit --amend
    amend = commit --amend
    caa = commit --all --amend -C HEAD

    # log
    filelog = log --patch
    fl = log --patch

    # reset commands
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard

    # stash
    sl = stash list
    sa = stash apply
    ss = stash save

    # grep
    grep = grep -Ii
    gr = grep -Ii
    gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f"

    # tag
    lasttag = describe --tags --abbrev=0
    lt = "!git lasttag"

    # merge
    ours = "!f() { git co --ours $@ && git add $@; }; f"
    theirs = "!f() { git co --theirs $@ && git add $@; }; f"
[pretty]
    changelog = * %s
    history = %C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = 1
[chiefs]
    ignore = (master|stable|production|stage|develop)
    reference = develop
[branch]
    autosetupmerge = true
    autosetuprebase = always
[rebase]
    stat = true
[merge]
    tool = vimdiff
    log = true
[core]
    excludesfile = ~/.gitexcludes
    autocrlf = false
    whitespace = tab-in-indent,trailing-space,cr-at-eol
    editor = /usr/bin/vim
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[url "git@heroku.com:"]
    insteadOf = "heroku:"
[gitflow "branch"]
    master = master
    develop = develop
[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = support/
    versiontag = RELEASE_
[github]
    token =
    user = michaelcontento
    password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[filter "github_token"]
    clean = perl -pe \"s/^ *token ?=.*/    token =/i\"
[push]
    default = upstream
[help]
    autocorrect = 1
[rerere]
    enabled = 1
[gist]
    private = yes
    browse = yes
[oh-my-zsh]
	hide-status = 1
