[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "secret-files"]
	path = secret-files
	url = git://github.com/michaelcontento/secret-files.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule ".rbenv"]
	path = .rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
