*.pyc
.DS_Store

# We're useing Vagrant only for local tests
/.vagrant
/Vagrantfile

# Rapid development revolver symlink
/revolver

# Keep some ssh stuff secret
/.ssh/

# Ignore all vundle bundles except vundle itself
/.vim/bundle
!/.vim/bundle/vundle
/.vim/ctrlp-cache
