[user]
    name = Michael Contento
    email = michaelcontento@gmail.com
[alias]
    cm = commit -m 
    cma = commit -a -m
    co = checkout
    lg = log --graph --pretty=format:'%C(red)%h %C(bold blue)<%an> %C(green)(%cd)%C(reset) %s%C(yellow)%d%Creset' --abbrev-commit --date=relative
    pl = pull --rebase
    st = status -sb
    unstage = reset HEAD --
    who = !git shortlog -se | sort -r
    diffbase = "!f() { REV=$1; shift; git diff $(git merge-base HEAD $REV) $@; }; f"
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[branch]
    autosetupmerge = true
[merge]
    summary = true
[core]
	excludesfile = ~/.gitignore
    autocrlf = false
    editor = /usr/bin/vim
[push]
    default = tracking
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[url "git@heroku.com:"]
    insteadOf = "heroku:"
[gitflow "branch"]
    master = master
    develop = develop
[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = support/
    versiontag = RELEASE_
