
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

export PATH=/opt/rocm/hip/bin/:$PATH
export LD_LIBRARY_PATH=/opt/rocm/hsa:$LD_LIBRARY_PATH
export RUSTFLAGS="-L ${HOME}/Dropbox/src/libs/arch/usr/lib64"
export LD_LIBRARY_PATH="$HOME/Dropbox/src/libs/arch/usr/lib64"
export PATH=$PATH:$HOME/.cargo/bin
